@import url("../variables.css");
.mainPeopleDiv {
  background-color: var(--primary-dark-background-color-hover2);
  width: 100%;
  transition: background-color var(--transition-time);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 15px;
  color: var(--font--color);
  border-radius: 5px;
  height: 60px;
}

.actionsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 80px;
}

.hide {
  display: none;
}
.userI {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}

.personIcons {
  border-radius: 5px;
  cursor: pointer;
}
.personIcons:hover {
  filter: brightness(190%);
  transition: transform 0.5s;
  transform: scale(1.05);
}
.mainPeopleDiv:hover .profileUsername p {
  color: var(--font--color-hover);
  cursor: pointer;
}
.profilePicture {
  align-self: center;
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}
.profileUsername {
  margin-left: 10px;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}
.onlineDot {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 11.5px;
  left: 43px;
  z-index: 1;
}
